* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  scroll-behavior: smooth;
}
::selection {
  background-color: #f73f11;
  color: white;
}
#home-header {
  min-height: max-content;
  background: url(images/heading-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*Navigation Panel*/
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #172242;
  z-index: 10;
  padding: 0.3rem 7vw 0.2rem;
}
nav .logo-cont img {
  width: 12rem;
  height: 4rem;
}
nav > ul {
  font-size: 1rem;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  min-width: max-content;
}
nav > ul > li > a,
nav > ul > li ~ div {
  padding-left: max(0.6rem, 2vw);
  text-decoration: none;
  color: rgb(231, 227, 227);
}
nav .subnav-btn li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover,
nav ul li a:active,
.mobile-menu ul li a:hover,
.mobile-menu ul li a:active {
  color: #fe6c42;
}
nav .grn-btn:hover {
  color: white;
}
.container,
.hamburger-cont > input,
.hamburger-cont {
  display: none;
}
.hamburger-cont > input:checked ~ .span1 {
  transform: translate(0rem, 0.5rem) rotate(50deg);
}
.hamburger-cont > input:checked ~ .span2 {
  display: none;
}
.hamburger-cont > input:checked ~ .span3 {
  transform: translate(0rem, -0.3rem) rotate(-50deg);
}
.hamburger-cont span {
  display: block;
  background-color: white;
  width: 2.5rem;
  height: 0.2rem;
  border-radius: 1rem;
  margin-top: 0.6rem;
  transition: 0.5s ease;
}
.mobile-menu-cont {
  width: 100vw;
  position: absolute;
  top: -25rem;
  left: 0;
  z-index: -1;
  transition: 0.5s ease-in-out;
}
.hamburger-cont > input:checked ~ .mobile-menu-cont {
  top: 5.8rem;
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  margin: 0 auto;
  width: min(90%, 540px);
}
.mobile-menu > ul > li,
.mobile-menu > ul > li ~ div {
  border-bottom: 1px solid gray;
  padding: 1.2rem 0;
  list-style-type: none;
}
.mobile-menu > ul > li > a,
.mobile-menu > ul > li ~ div {
  display: block;
  text-decoration: none;
  text-align: center;
  color: rgb(53, 50, 50);
}
.mobile-menu .subnav-btn li a {
  text-decoration: none;
  color: rgb(53, 50, 50);
}
nav ul li .grn-btn {
  font-weight: 500;
  padding: 0.8rem 1.5vw;
  margin-left: 3rem;
}
.subnav .subnav-btn {
  border: none;
  outline: none;
  padding-right: 0.5rem;
  background-color: inherit;
  font-size: inherit;
}
.subnav-content {
  display: none;
  z-index: 2;
  position: absolute;
  min-width: 150px;
  background-color: #f9f9f9;
  border-radius: 0.3rem;
  box-shadow: 2px 2px 7px #404040;
}
.subnav-content a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 0.5rem;
  text-align: left;
}
.subnav-content a:hover {
  color: #fe6c42;
}
.subnav:hover .subnav-content {
  display: block;
}

/*Header Text*/
#header-txt {
  padding: 3rem 7vw;
}
#header-txt h1 {
  color: white;
  font-size: clamp(3rem, 3rem + 1.5vw, 7rem);
}
.orng-txt {
  color: #f73f11;
}
.grn-txt {
  color: #3aca84;
}
#header-txt hr {
  background-color: white;
  height: 0.4rem;
  width: 12%;
  margin-block: 1.5rem;
  border-style: none;
  border-radius: 0.4rem;
}
#header-txt p {
  color: white;
  font-size: 1.2rem;
  width: min(80%, 650px);
  line-height: 1.7rem;
}
.head-btns {
  margin-top: 3vh;
}
.grn-btn {
  background-color: #3aca84;
  color: white;
  border-style: none;
  border-radius: 0.4rem;
  font-size: inherit;
  padding: 0.9rem 1.9rem;
  margin-right: 0.8rem;
}
.grn-btn:hover {
  background-color: #43ba80;
}
.orng-btn {
  background-color: #f73f11;
  color: white;
  border-style: none;
  border-radius: 0.4rem;
  font-size: inherit;
  padding: 0.9rem 1.7rem;
}
.orng-btn:hover {
  background-color: #e44d26;
}

/*Service Cards*/
#services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;
  padding: 7rem 7vw;
}
.service-cards {
  box-shadow: 1px 1px 12px #e9e8e8;
  padding: 2rem;
  display: flex;
  gap: 3rem;
  flex-direction: row;
  border-radius: 0.3rem;
  color: #162243;
}
.fa-4x {
  font-size: 5rem;
  color: #43ba80;
  transition: 0.5s ease;
}
.service-cards:hover .fa-4x {
  transform: translate(0, 1rem);
}
.service-cards-txt h2 {
  font-weight: 600;
}
.service-cards-txt p {
  padding-top: 1.4rem;
  line-height: 1.6rem;
}

/*Business Solutions*/
#business-solutions {
  background: url(images/cta-bg.jpg);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 7vw;
}
#business-solutions h2 {
  color: white;
  font-size: 2.5rem;
  font-weight: 900;
  width: 40%;
  text-align: left;
}

/*About Us*/
#about-us {
  color: #162243;
  margin-inline: 7vw;
}
.section-head {
  margin-block: 9vh;
  text-align: center;
}
.section-head h2 {
  font-size: 2.3rem;
}
.about-us-sub-cont {
  display: grid;
  gap: 3.5rem;
  grid-template-columns: 2fr 1fr;
}
.about-us-btns {
  display: flex;
  gap: 2rem;
}
.about-us-btns > button {
  background-color: inherit;
  border: none;
  color: #162243;
  font-size: 1.1rem;
  box-shadow: 1px 1px 12px #e9e8e8;
  padding: 1rem 2rem;
}
.about-us-btns button:hover {
  cursor: pointer;
}
.about-us-btns button:focus {
  color: #f73f11;
}
.about-us-tbl {
  font-size: 1.3rem;
  margin-block: 2rem;
}
.about-us-tbl hr {
  margin-block: 0.5rem;
}
.about-us-btns > button,
.about-us-tbl h5 {
  font-weight: 600;
}
.tbl-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 1.3rem 0 1.3rem;
}
.tbl-row p {
  font-size: 1rem;
}
.about-us-txt {
  color: #162243;
}
.about-us-txt h3 {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 700;
  margin: 0rem 0rem 3rem;
}
.about-us-txt p {
  font-size: 1.1rem;
  margin-bottom: 3rem;
  line-height: 2rem;
}

/*Get A Financial Plan*/
.fin-plan {
  background: url(images/calculator-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-block: 6rem;
  padding: 0 7vw 0;
}
.fin-plan img {
  margin-top: 5rem;
  width: 100%;
}
.fin-plan-head h2 {
  font-size: 2.1rem;
  margin-bottom: 4rem;
}
.fin-plan-head h4 {
  font-weight: 900;
  margin-bottom: 0.2rem;
  font-size: 1rem;
}
form {
  padding-block: 4rem 2rem;
}
form select,
#name,
#email,
#sbjct,
#reason {
  height: 2.5rem;
  border-radius: 0.4rem;
  background-color: #516088;
  opacity: 0.8;
  color: white;
  border: none;
  width: 100%;
  margin-bottom: 2.5rem;
}

/*Testimonials*/
#testim {
  color: #162243;
  margin: 9vw 17vw;
}
#testim-card {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 1px 1px 12px #e9e8e8;
  border-radius: 0.7rem;
}
#testim-txt {
  padding: 0 3rem;
  margin: auto;
}
#testim-txt p {
  margin: 2rem 0 1.5rem;
  font-size: 1.2rem;
  line-height: 1.4rem;
}
.testim-img img {
  width: 100%;
  height: 100%;
  border-radius: 0.7rem;
}

/*Company Name*/
#comp-name-cont {
  padding: 5rem 1rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: #172242;
}

/* Footer */
footer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #10182fff;
}

/* MEDIA QUERIES FOR HOME PAGE START HERE*/
@media screen and (min-width: 769px) and (max-width: 1050px) {
  /* Navigation Bar */
  nav {
    padding: 1rem 5vw;
  }
  nav .logo-cont img {
    width: 11rem;
    height: 4rem;
  }
  nav > ul > li > .grn-btn {
    display: none;
  }

  /*Header Text*/
  #header-txt {
    padding: 1.5rem 10vw;
  }

  /* Service Cards */
  #services {
    grid-template-columns: 1fr;
    padding: 7rem 10vw;
  }
  .service-cards {
    padding: 2rem 3rem;
  }

  /* Business Solutions */
  #business-solutions {
    flex-direction: column;
    gap: 2rem;
  }
  #business-solutions h2 {
    width: 80%;
    text-align: center;
  }

  /* About Us */
  #about-us {
    margin-inline: 10vw;
  }
  .about-us-sub-cont {
    grid-template-columns: 1fr;
  }
  .about-us-btns > button {
    font-size: 1rem;
  }

  /*Get A Financial Plan*/
  .fin-plan {
    grid-template-columns: 1fr;
    padding: 0 10vw 0;
  }
  .fin-plan img {
    display: none;
  }
  form select,
  #name,
  #email,
  #sbjct,
  #reason {
    width: 70%;
  }

  /*Testimonials*/
  #testim {
    margin: 9vw 13vw;
  }
  #testim-txt {
    padding: 1rem 1rem 1rem 1.5rem;
  }
  #testim-txt p {
    margin: 1.5rem 0;
    line-height: 1.2rem;
    font-size: 1rem;
  }
  .testim-img {
    margin: 2rem 1rem;
  }

  /*Company Name*/
  #comp-name-cont {
    padding: 3rem 10vw;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 560px) and (max-width: 768px) {
  nav > ul {
    display: none;
  }
  .container,
  .hamburger-cont {
    display: block;
  }
  nav .logo-cont img {
    width: 9.5rem;
    height: 3.5rem;
  }

  /*Header Text*/
  #header-txt {
    padding: 1.5rem 10vw;
  }

  /* Service Cards */
  #services {
    grid-template-columns: 1fr;
    padding: 7rem 10vw;
  }
  .service-cards {
    padding: 1.5rem;
  }

  /* Business Solutions */
  #business-solutions {
    flex-direction: column;
    gap: 1.5rem;
  }
  #business-solutions h2 {
    width: 100%;
    text-align: center;
  }

  /* About Us */
  #about-us {
    margin-inline: 10vw;
  }
  .about-us-sub-cont {
    grid-template-columns: 1fr;
  }
  .about-us-btns > button {
    font-size: 1rem;
  }

  /*Get A Financial Plan*/
  .fin-plan {
    grid-template-columns: 1fr;
    padding: 0 10vw;
  }
  .fin-plan img {
    display: none;
  }
  form select,
  #name,
  #email,
  #sbjct,
  #reason {
    width: 100%;
  }

  /*Testimonials*/
  #testim {
    margin: 0 13vw 6vw;
  }
  #testim-txt {
    padding: 1rem 1rem 1rem 1.5rem;
  }
  #testim-txt p {
    margin: 1.2rem 0;
    line-height: 1.1rem;
    font-size: 1rem;
  }
  .testim-img {
    padding: 2rem 0.5rem 7rem;
  }

  /*Company Name*/
  #comp-name-cont {
    padding: 3rem 10vw;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .comp-name {
    width: fit-content;
    margin: 0 auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 559px) {
  nav {
    padding: 0.5rem 3vw;
  }
  nav > ul {
    display: none;
  }
  .container,
  .hamburger-cont {
    display: block;
  }
  .hamburger-cont > input:checked ~ .mobile-menu-cont {
    top: 4.25rem;
  }
  nav .logo-cont img {
    width: 8.5rem;
    height: 3rem;
  }

  /*Header Text*/
  #header-txt {
    padding: 1rem 2vw;
  }
  #header-txt h1 {
    line-height: 3.6rem;
  }
  #header-txt hr {
    width: 30%;
    margin-block: 0.5rem;
  }
  #header-txt p {
    font-size: 1rem;
    width: 100%;
    line-height: 1.2rem;
  }
  .grn-btn {
    padding: 0.5rem 1.5rem;
  }
  .orng-btn {
    padding: 0.5rem 1.3rem;
    margin-top: 0.5rem;
  }

  /* Service Cards */
  #services {
    grid-template-columns: 1fr;
    padding: 3rem 2vw;
    gap: 1rem;
  }
  .service-cards {
    padding: 1rem;
    gap: 1rem;
  }
  .fa-4x {
    font-size: 1rem;
  }
  .service-cards-txt h2 {
    font-size: larger;
  }
  .service-cards-txt p {
    padding-top: 0.5rem;
    line-height: 1.1rem;
    font-size: medium;
  }

  /* Business Solutions */
  #business-solutions {
    flex-direction: column;
    padding: 1rem 2vw;
    gap: 0.5rem;
  }
  #business-solutions h2 {
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
  }
  .bs-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bs-btns > .grn-btn {
    margin: 0;
  }

  /* About Us */
  #about-us {
    margin-inline: 2vw;
  }
  .section-head {
    margin-block: 7vh;
  }
  .section-head h2 {
    font-size: 1.7rem;
  }
  .about-us-sub-cont {
    grid-template-columns: 1fr;
  }
  .about-us-btns {
    gap: 0.5rem;
  }
  .about-us-btns > button {
    font-size: 0.9rem;
    padding: 1rem;
  }
  .about-us-tbl {
    font-size: 1.2rem;
    margin-block: 1rem;
  }
  .tbl-row {
    padding: 0.5rem 0;
  }
  .tbl-row p {
    font-size: 0.8rem;
  }
  .about-us-txt h3 {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 700;
    margin: 0rem 0rem 1.5rem;
  }
  .about-us-txt p {
    font-size: 1rem;
    margin-bottom: 2rem;
    line-height: 1.5rem;
  }
  /*Get A Financial Plan*/
  .fin-plan {
    grid-template-columns: 1fr;
    padding: 0 2vw 0;
  }
  .fin-plan img {
    display: none;
  }
  form select,
  #name,
  #email,
  #sbjct,
  #reason {
    width: 100%;
  }

  /*Testimonials*/
  #testim {
    margin: 0 5vw 9vw;
  }
  #testim-txt {
    padding: 0.5rem;
  }
  #testim-txt p {
    margin: 1rem 0;
    line-height: 1rem;
    font-size: 1rem;
  }
  .testim-img {
    margin: 2rem auto 7rem;
  }

  /*Company Name*/
  #comp-name-cont {
    padding: 0.5rem 2vw;
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
  .comp-name {
    margin: 0 auto;
  }

  /* Footer */
  footer {
    padding: 0.5rem;
  }
  footer > p {
    text-align: center;
  }
}
/* MEDIA QUERIES FOR HOME PAGE END HERE*/

/*ABOUT US PAGE CSS STYLING STARTS HERE*/
.AU-header {
  background: url(images/heading-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#AU-header-txt {
  padding: 5rem 5rem 7rem;
  text-align: center;
}
#AU-header-txt h1 {
  color: white;
  font-size: 3.5rem;
}
#AU-header-txt hr {
  background-color: white;
  height: 0.4rem;
  width: max(10%, 80px);
  border-style: none;
  border-radius: 0.4rem;
  margin: 1rem auto;
}
.AU-afterhdr-cont {
  padding: 5rem 7vw;
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr 1fr;
}
.AU-afterhdr-img {
  border-radius: 10px;
  box-shadow: 1px 1px 12px #e9e8e8;
}
.AU-afterhdr-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.AU-afterhdr-txt {
  background-color: #516088;
  height: 100%;
  width: 100%;
  box-shadow: 1px 1px 12px #e9e8e8;
}
.steps-cont {
  padding: 8rem 7vw;
  display: grid;
  gap: 4rem;
  grid-template-columns: 40% 47%;
}
.steps {
  display: grid;
  gap: 2rem 1.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.step-cards {
  color: #162243;
  padding: 2rem 1.7rem;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 12px #e9e8e8;
}
.step-cards-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.step-cards-head h2 {
  font-size: x-large;
  font-weight: 600;
}
.fa-2x {
  font-weight: 900;
  color: #43ba80;
  transition: 0.5s ease;
}
.step-cards:hover .fa-2x {
  transform: translate(0, 0.3rem);
}
/*ABOUT US PAGE CSS STYLING ENDS HERE*/

/* MEDIA QUERIES FOR ABOUT US PAGE START HERE*/
@media (min-width: 769px) and (max-width: 991px) {
  .AU-afterhdr-cont {
    padding: 5rem 12vw;
    gap: 3rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .steps-cont {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 560px) and (max-width: 768px) {
  .AU-afterhdr-cont {
    padding: 5rem auto;
    gap: 3rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .steps-cont {
    padding: 5rem 7vw;
    grid-template-columns: 1fr;
  }
  .steps {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 320px) and (max-width: 559px) {
  #AU-header-txt {
    padding: 5rem 0 7rem;
    text-align: center;
  }
  #AU-header-txt h1 {
    font-size: 2.8rem;
  }
  .AU-afterhdr-cont {
    padding: 5rem 3vw;
    gap: 2.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .steps-cont {
    padding: 5rem 3vw;
    gap: 3rem;
    grid-template-columns: 1fr;
  }
  .steps {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr;
  }
  .step-cards {
    padding: 1.5rem 1rem;
  }
  .step-cards-head {
    margin-bottom: 1rem;
  }
}
/* MEDIA QUERIES FOR ABOUT US PAGE END HERE*/

/*OUR SERVICES PAGE CSS STYLING STARTS HERE*/
.OS-afterhdr-cont {
  padding: 5rem 7vw;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}
.OS-afterhdr-cont > hr {
  outline: none;
  border: none;
  border-bottom: 1px solid #e1f5ea;
}
.OS-afterhdr-item {
  display: flex;
  gap: 4rem;
  color: #162243;
}
.OS-afterhdr-item img {
  width: 50%;
  max-height: 314px;
  background-position: center;
  background-size: cover;
}
.item-txt {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
}
.item2 > .item-txt {
  order: -1;
}
.item-txt > div {
  background-color: #e1f5ea;
  width: fit-content;
  border-radius: 0.3rem;
  padding: 1.5rem 1.7rem;
}
.item-txt > h2 {
  font-size: 2.25rem;
}
.upgrade-cont {
  padding: 5rem 13vw;
  color: #162243;
}
.OS-btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.upgrade-card {
  display: grid;
  width: fit-content;
  grid-template-columns: auto auto;
  gap: 4rem;
  border-radius: 0.4rem;
  padding: 3rem 3rem 3rem 1rem;
  box-shadow: 1px 1px 12px #e9e8e8;
}
.upgrade-card > img {
  border-radius: 0.5rem 0 0 0.5rem;
}
.upgrade-card-txt {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  width: 80%;
}
.upgrade-card-txt > h2 {
  width: 80%;
  line-height: 2.5rem;
}
.upgrade-card-txt > em {
  line-height: 2rem;
}
/*OUR SERVICES PAGE CSS STYLING ENDS HERE*/

/* MEDIA QUERIES FOR OUR SERVICES PAGE START HERE */
@media (min-width: 769px) and (max-width: 991px) {
  .OS-afterhdr-cont {
    padding: 5rem 12vw;
  }
  .OS-afterhdr-item {
    flex-direction: column;
    gap: 1.5rem;
  }
  .OS-afterhdr-item img,
  .item-txt {
    width: 90%;
    margin: 0 auto;
  }
  .item-txt > h2 {
    font-size: 1.8rem;
    font-weight: 700;
  }
  .upgrade-cont {
    padding: 5rem 12vw;
  }
  .section-head > h4 {
    font-size: small;
    font-weight: 800;
  }
  .section-head > h2 {
    font-weight: 800;
    font-size: 26px;
  }
  .OS-btns > button {
    padding: 0.6rem 0.8rem;
    font-size: 0.9rem;
  }
  .upgrade-card {
    grid-template-columns: 1fr;
    gap: 2.5rem;
    padding: 0;
  }
  .upgrade-card > img {
    border-radius: 0.4rem;
    width: 100%;
  }
  .upgrade-card-txt {
    padding: 0 2rem 2rem;
    gap: 1.6rem;
    width: 100%;
  }
  .upgrade-card-txt > h2 {
    width: 100%;
    font-size: 19px;
    font-weight: 800;
    line-height: 2rem;
  }
  .upgrade-card-txt > em,
  .upgrade-card-txt > p {
    font-size: 15px;
  }
  .upgrade-card-txt > em {
    line-height: 2rem;
  }
}
@media screen and (min-width: 560px) and (max-width: 768px) {
  .OS-afterhdr-cont {
    padding: 5rem 5vw;
  }
  .OS-afterhdr-item {
    flex-direction: column;
    gap: 1.5rem;
  }
  .OS-afterhdr-item img,
  .item-txt {
    width: 100%;
  }
  .item-txt > h2 {
    font-size: 1.8rem;
    font-weight: 800;
  }
  .upgrade-cont {
    padding: 0rem 7vw 5rem;
  }
  .section-head > h4 {
    font-size: small;
    font-weight: 800;
  }
  .section-head > h2 {
    font-weight: 800;
    font-size: 26px;
  }
  .OS-btns > button {
    padding: 0.6rem 0.4rem;
    font-size: 0.8rem;
  }
  .upgrade-card {
    grid-template-columns: 1fr;
    gap: 2.5rem;
    padding: 0;
  }
  .upgrade-card > img {
    border-radius: 0.4rem;
    width: 100%;
  }
  .upgrade-card-txt {
    padding: 0 2rem 2rem;
    gap: 1.6rem;
    width: 100%;
  }
  .upgrade-card-txt > h2 {
    width: 100%;
    font-size: 19px;
    font-weight: 800;
    line-height: 2rem;
  }
  .upgrade-card-txt > em,
  .upgrade-card-txt > p {
    font-size: 15px;
  }
  .upgrade-card-txt > em {
    line-height: 2rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 559px) {
  .OS-afterhdr-cont {
    padding: 5rem 2vw;
  }
  .OS-afterhdr-item {
    flex-direction: column;
    gap: 1rem;
  }
  .OS-afterhdr-item img,
  .item-txt {
    width: 100%;
  }
  .item-txt > h2 {
    font-size: 1.8rem;
    font-weight: 800;
  }
  .upgrade-cont {
    padding: 0 5vw 3rem;
  }
  .section-head > h4 {
    font-size: small;
    font-weight: 800;
  }
  .section-head > h2 {
    font-weight: 800;
    font-size: 26px;
  }
  .OS-btns > button {
    padding: 0.6rem 0.8rem;
    font-size: 0.9rem;
  }
  .upgrade-card {
    grid-template-columns: 1fr;
    gap: 2.5rem;
    padding: 0;
  }
  .upgrade-card > img {
    border-radius: 0.4rem;
    width: 100%;
  }
  .upgrade-card-txt {
    padding: 0 1rem 1rem;
    gap: 1.4rem;
    width: 100%;
  }
  .upgrade-card-txt > h2 {
    width: 100%;
    font-size: 19px;
    font-weight: 800;
    line-height: 2rem;
  }
  .upgrade-card-txt > em,
  .upgrade-card-txt > p {
    font-size: 15px;
  }
  .upgrade-card-txt > em {
    line-height: 2rem;
  }
}
/* MEDIA QUERIES FOR OUR SERVICES PAGE END HERE */

/*CONTACT US PAGE CSS STYLING STARTS HERE*/
.contact-map {
  width: fit-content;
  margin: 5rem auto 6rem;
  position: relative;
}
.contact-map iframe {
  width: 1027px;
  height: 500px;
}
.CU-cards-cont {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: -8rem;
  z-index: 3;
}
.CU-cards {
  display: flex;
  background-color: white;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  box-shadow: 1px 1px 12px #e9e8e8;
  padding: 2.5rem 3.5rem;
  border-radius: 0.3rem;
  color: #162243;
  transition: 0.6s ease;
}
.CU-cards:hover {
  transform: translateY(-0.6rem);
}
.CU-cards p {
  color: #43ba80;
  font-size: 15px;
  margin-top: -0.5rem;
  font-weight: 600;
}
.CU-cards p:hover {
  color: #f73f11;
}
.upgrade-cont > form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 0;
}
#CU-name,
#CU-phone,
#CU-email,
#CU-sbjct,
.upgrade-cont > form > textarea {
  padding: 1rem 0.8rem;
  border-radius: 0.2rem;
  border: none;
  background-color: #e9e8e88e;
}
::placeholder {
  font-size: 15px;
  color: #020a1dd3;
}
.upgrade-cont > form > textarea {
  grid-column: 1/3;
}
#CU-name:focus,
#CU-phone:focus,
#CU-email:focus,
#CU-sbjct:focus,
.upgrade-cont > form > textarea:focus {
  border: none;
  outline: none;
}
.upgrade-cont > form > .orng-btn {
  padding: 0.8rem 1rem;
  width: max(35%, 168px);
}
.upgrade-cont > form > .orng-btn:hover {
  background-color: #3aca84;
  transition: 0.5s ease;
}
/*CONTACT US PAGE CSS STYLING ENDS HERE*/

/* MEDIA QUERIES FOR CONTACT US PAGE START HERE */
@media (min-width: 769px) and (max-width: 1045px) {
  .contact-map {
    width: fit-content;
    margin: 5rem auto 6rem;
    position: relative;
    border: 1px solid red;
    padding: auto;
  }
  .contact-map iframe {
    width: 700px;
    height: 500px;
  }
  .CU-cards-cont {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: -8rem;
    z-index: 3;
  }
  .CU-cards {
    display: flex;
    background-color: white;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    box-shadow: 1px 1px 12px #e9e8e8;
    padding: 2.5rem 3.5rem;
    border-radius: 0.3rem;
    color: #162243;
    transition: 0.6s ease;
  }
  .CU-cards:hover {
    transform: translateY(-0.6rem);
  }
  .CU-cards p {
    color: #43ba80;
    font-size: 15px;
    margin-top: -0.5rem;
    font-weight: 600;
  }
  .CU-cards p:hover {
    color: #f73f11;
  }
  .upgrade-cont > form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 0;
  }
  #CU-name,
  #CU-phone,
  #CU-email,
  #CU-sbjct,
  .upgrade-cont > form > textarea {
    padding: 1rem 0.8rem;
    border-radius: 0.2rem;
    border: none;
    background-color: #e9e8e88e;
  }
  ::placeholder {
    font-size: 15px;
    color: #020a1dd3;
  }
  .upgrade-cont > form > textarea {
    grid-column: 1/3;
  }
  #CU-name:focus,
  #CU-phone:focus,
  #CU-email:focus,
  #CU-sbjct:focus,
  .upgrade-cont > form > textarea:focus {
    border: none;
    outline: none;
  }
  .upgrade-cont > form > .orng-btn {
    padding: 0.8rem 1rem;
    width: max(35%, 168px);
  }
  .upgrade-cont > form > .orng-btn:hover {
    background-color: #3aca84;
    transition: 0.5s ease;
  }
}
/* MEDIA QUERIES FOR CONTACT US PAGE START HERE */
